@import url('https://fonts.googleapis.com/css?family=Germania+One|Montserrat');

:root {
    scroll-behavior: smooth; 
}

body {
    max-width: 1200px;
    margin: auto;
    background: #222222 !important;
    color: #999999;
    font-family: Open Sans, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

header .logo {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 25px;
}

header .nav .nav-container {
    background-color: #1b1b1b;
    border-bottom: 1px solid #eee;
}

header .menu {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
}

header .menu li {
    display: inline;
    list-style-type: none;
    max-height: 62px;
    padding-right: 5px;
    padding-left: 5px;
}

header .menu li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

header .menu li a:hover {
    color: #dd3333;
}

nav.navbar {
    color: #ffffff!important;
    background-color: #1b1b1b!important;
    border-bottom: 2px solid #eee;
    text-transform: uppercase;
    text-align: center;
}

div#navbarNav.navbar-collapse.collapse {
    justify-content: space-around;
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #dd3333;
}

/*a.nav-item.nav-link.active {*/
/*    border-top: 1px solid #eee;*/
/*}*/


/*CAROUSEL*/
.carousel {
    max-width: 1200px;
}

.carousel img {
    display: block;
    width: 100%;
}

.portfolio {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section > h2 {
    color: #ffffff;
    background: #1b1b1b;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.portfolio .block {
    height: 399px;
    width: 30%;
    padding-right: 2%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 20px;
    margin-bottom: -45px;
}

.block_img img {
    display: block;
    width: 100%;
}

.block_all_text {
    width: 100%;
    position: relative;
    margin-bottom: -31px;
    padding: 20px 0;
    text-align: center;
    background-color: #1b1b1b;
}

.block_text p {
    color: #dd3333;
}

.block_lower_text p {
    font-size: 13px !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    padding-top: 25px;
}

#about-us .row {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

section > h2 {
    text-align: center;
}

.photo-of-us img {
    display: block;
    width: 100%;
}

.text-about-us {
    width: 50%;
}

.text-about-us p {
    padding-bottom: 15px;
}




/*our-experience*/
#our-experience .skills {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section p {
    text-align: center;
}

/*.skills .skill {*/
/*    width: 25%;*/
/*}*/

.experience .skills span {
    background-color: #1b1b1b;
    display: block;
    border: 1px solid #0A1525;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 0px auto 25px;
}

.skills .skill {
    max-width: 25%;
}

.skills span i {
    color: #FFFFFF;
    font-size: 40px;
    margin-top: 0;
    position: relative;
    top: 20px;
    z-index: 20;
    display: block;
    text-align: center;
}

.skills h3 {
    text-align: center;
}

.skills p {
    text-align: center;
    padding: 5%;
}

#experience {
    padding-bottom: 40px;
}

.login-form, .memory-box {
    margin-bottom: 40px;
}

footer h2 {
    color: #ffffff;
    background: #1b1b1b;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}


/*slick*/

.slick-slide.slick-current.slick-active.slick-center img  { 
    transform: scale(1.2);
}


/* "UP" Button*/
#go-top {
  text-align: center;
  padding: 10px;
  position: fixed; 
  bottom: 30px; 
  right: 3%; 
  display:none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
 
#go-top:hover {
  background: #333;
}












/* header .buttons-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #1b1b1b;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    padding-top: 15px;
}

header .buttons-container a {
    font-family: BenchNine !important;
    text-decoration: none;
    text-transform: uppercase;
} */